{% extends "layout.html" %}
{% block content %}
    <h3>Shiritori!</h3>


<div>
  <a id="connect" href="#">Connect</a>&nbsp;|&nbsp;Status: <span id="status">disconnected</span>
</div>
    <div>
  <a id="connect2" href="#">Connect</a>&nbsp;|&nbsp;Status: <span id="status">disconnected</span>
</div>
<div id="log" style="width: 60em; height: 20em; overflow:auto; border: 1px solid black">
</div>
<form id="chatform">
  <input id="text" type="text" />
  <input type="submit" />
</form>

    Rendered in {{ g.request_time() }}
{% endblock %}