{% extends "layout.html" %}
{% block content %}
    <div id="lobby" class="col-sm-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>dict</th>
                <th>uuid</th>
            </tr>
            </thead>
            <tr>
                <td>i</td>
                <td>uuid</td>
            </tr>
        </table>
    </div>

    <div id="game" class="col-sm-12 ">
        <div>
            <ul id="scores">
                <li></li>
            </ul>
            <ul id="words">
                <li></li>
            </ul>
        </div>
        <div id="log" style="width: 60em; height: 20em; overflow:auto; border: 1px solid black">
        </div>
        <form id="move">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="a" id="text">
            </div>
        </form>
    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}